<settings>
    <category label="Display">
        <setting id="show_prev_next" type="bool"
                 label="Show previous / up next panel"
                 default="true"/>
    </category>
    <category label="Slideshow">
        <setting id="slideshow_enabled" type="bool"
                 label="Show picture slideshow behind Now Playing"
                 default="false"/>
        <setting id="slideshow_path" type="folder"
                 label="Picture folder"
                 default=""
                 visible="eq(-1,true)"/>
        <setting id="slideshow_time" type="slider"
                 label="Seconds per image"
                 default="8" range="2,1,60" option="int"
                 visible="eq(-2,true)"/>
    </category>
</settings>
